/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
  }

  :root {
    --headingSize: 1.5rem;
    --headingsizeM: 1rem;
    --subHeadingSize: 1.2rem;
    --heading-color: black;
    --p-color: rgb(126, 121, 121);
    --pSize: 1rem;
    --bord-color: darkgray;
    --contMarginTop:50px;
  }


  
  header {
    background-color:transparent;
    color: #fff;
    text-align: center;
}

/* CSS for the Navbar */

nav {
    display: flex;
    justify-content: end;
    align-items: end;
    /* padding: 10px; */
    width: 100%;
    height: fit-content;
    position: fixed;
    background-color: none;
    /* background-image: linear-gradient(160deg, #0f0c29 0%,#302b63, #24243e 100%); */
    background-color:white;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 50px;
    /* background-color: white; */
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
  }
  
  nav ul li a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    color: #302b63;
    border: 1px solid #302b63;
  }
  
  nav ul li a.active {
    color: #302b63;
    background-color: #302b63;
  }

  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
background-image: linear-gradient(160deg, #0f0c29 0%,#302b63, #24243e 100%);
  }

.mainsub{
    padding: 20px;
    display: flex;
    margin-top: 50px;
    /* background-color: #0093E9; */
}

.mainsub div{
    margin: auto;
}
.mainsub div img{
    width: 400px;
    height: 400px;
    background: none;
    mix-blend-mode: color-burn;
    opacity: 50%;
} 

#mainsubimg1{
    transform: rotate(350deg);
}


.mainsub h1{
    font-size: 3rem;
    text-align: center;
    color: white;
    height: 100%;
    width: 30%;
    font-weight: 400;
    /* background-color: turquoise; */
}
  
.sectionMain{
    background-color:transparent;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Maincontainer1{
    display: flex;
    padding: 10px;
    margin-top: var(--contMarginTop);
    /* background-color: lightcyan; */
}
.Maincontainer1 div{
    width: auto;
    height: auto;
    margin: 20px;
}
.Mleft{
    background-color: #555;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid var(--bord-color);
}

.Mleft img{
    width: 100%;
    height: 100%;
    object-fit: stretch;
}
.Mright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: start;
    width: 80%;
    padding: 10px;
}
.Mrightsub{
    padding: 20px;
    /* border-radius: 20px;
    border: 2px solid var(--bord-color); */
}
.Mright h1{
    font-size: var(--headingSize);
    width: fit-content;
    padding: 10px;
    color: var(--heading-color) ;
}
.Mright p{
    padding: 10px;
    font-size: var(--pSize);
    width: 100%;
    color: var(--p-color);
}

 /* second conatiner on the main page */

 .Maincontainer2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: var(--contMarginTop);
    /* background-color: lightcyan; */
    width: 100%;
    height: 100%;
 }

 .con2sub{
    display: flex;
    flex-direction: row;
    width: 90%;
    /* border: 2px solid gray; */
 }

 .con2sub div{
    margin: 10px;
 }

 .Maincontainer2 h2{
    font-size: var(--headingSize);
    width: fit-content;
    padding: 10px;
    color: var(--heading-color) ;
 }

.Con2leftsub{
    display: flex;
    width: auto;
    height: 100%;
    /* background-color: #333; */
}

.feature{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* padding: 1px; */
    background-color: lightgray;
    border-radius: 10px
    /* border: 1px solid var(--bord-color); */
}

.feature h3{
    color: var(--heading-color);
    font-size: var(--subHeadingSize);
}

.feature p{
    color: var(--p-color);
    font-size: var(--pSize);
}




/* Container 3 of the main page  */

.Maincontainer3{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: var(--contMarginTop);
    /* background-color: lightcyan; */
    width: 100%;
    height: 100%;
}

.con3sub{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 90%;
    margin-bottom: 100px;
    /* border: 2px solid gray; */
}

.con3sub img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.con3sub div{
    margin: 10px;
}

.Maincontainer3 h2{
    font-size: var(--headingSize);
    width: fit-content;
    padding: 10px;
    color: var(--heading-color) ;
}

.benefit{
    padding: 10px;
}

.benefit h3{
    color: var(--heading-color);
    font-size: var(--subHeadingSize);
}

.benefit p{
    color: var(--p-color);
    font-size: var(--pSize);
}



/* Login page css */
.sectionLogin{
    background-color:rgb(246, 246, 246);;
    height: fit-content;
    display: flex;
    /* background-color: red; */
}

.loginformsub{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginformsub div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 15px;
    padding: 5px;
    width: 130px;
    height: 20px;
    color: gray;
    border: 1px solid var(--bord-color);
    /* background-color: lightgray; */
}

.loginformsub div:hover{
    cursor: pointer;
    border: 1px solid black;
}

.loginformsub2{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}

.loginformsub2 span{
    color: gray;
    font-size: 14px;
}

.loginformsub2 p{
    margin-left: 5px;
}
.loginformsub2 p:hover{
    cursor: pointer;
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 100vh;
    margin:auto ;
    /* background-color: aqua; */
}


#loginForm h2{
    margin-top: 100px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightgray; */
    width: 400px;
    height: fit-content;
    padding: 15px;
    margin-top: 15px;
    border-top:1px solid var(--bord-color); ;
    /* background-color: aqua; */
}

.loginform input {
    width: 100%;
    height:30px;
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin: 10px;
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
    border: 1px solid var(--bord-color);
}

.loginform input:hover{
    border: 1px solid #3498db;
}
.loginform input:active{
    border: 1px solid #3498db;
}
.loginform p{
    font-size: 14px;
    color: #3498db;
}
.loginform p:hover{
    cursor: pointer;
}

#logingithub{
    margin-bottom: 5px;
    margin-right: 5px;
    height: 18px;
}

.logincheckbox{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-left: -25px;
}

.logincheckbox label{
    font-size: 13px;
    font-weight: bold;
    color: rgb(124, 123, 123);
}

.logincheckbox input{
    width: 15px;
    height: 15px;
    margin: 10px;
}

#loginbtn{
    width: 100%;
    height: 40px;
    color: black;
    font-size: 18px;
    margin: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginbtn:hover{
    background-color: #2b81bb;
}

#loginbtn:active{
    background-color: #256d9c;
}

.loginform button {
    width: 90%;
    height: 40px;
    color: black;
    font-size: 18px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.loginform button:hover{
    background-color: #555;
}

.loginform button:active{
    background-color: #333;
}

#registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.registerform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightgray; */
    width: 400px;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid var(--bord-color);
    margin-top: 60px;
}

.registerform input {
    width: 90%;
    height:30px;
    color: black;
    font-size: 18px;
    margin: 10px;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 20px;
    border: 2px solid var(--bord-color);
}

.registerform button{
    width: 90%;
    height: 40px;
    color: black;
    font-size: 18px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#registerbtn{
    width: 90%;
    height: 40px;
    color: black;
    font-size: 18px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#registerbtn:hover{
    background-color: #555;
}

#registerbtn:active{
    background-color: #333;
}


/* search page css */

.sectionSearch{
    background-color:floralwhite;
    height:800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#search-form{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    width: 100%;
    height:fit-content;
    /* background-color: #333; */
}

#search-form label{
    width: fit-content; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    /* border: 2px solid var(--bord-color); */
    cursor: pointer;
}

#search-form input{
    color: black;
    font-size: 18px;
    outline: none;
    padding: 10px;
    border: none;
    /* border-radius: 5px; */
    border: 2px solid var(--bord-color);
}

#job-role{
    width: 35%;
}

#location{
    width: 250px;
}

#schbtn{
    color: white;
    background-color:white;
    width:10%;
    padding: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

#schbtn:hover{
    background-color: #b8b6c9;
    color: black;
    cursor: pointer;
}

#schbtn:active{
    background-color: #ececf0;
}
/* search result page css */

#search-results{
    margin-top: 50px;
    display: flex;
    width: fit-content;
    padding: 10px;
}

#search-results h3{
    font-size: var(--headingSize);
}

#search-results p{
    font-weight: 600;
    font-size: 18px;
}

.job-item{
    margin: 25px;
    /* background-color: var(--bord-color); */
    border-radius: 20px;
    padding: 20px;
    border: 3px solid  darkslategray;
    box-shadow: 0 12px 14px rgba(73, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


